.container {
  width: 85%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.container .box {
  width: 20rem;
  margin-top: 1.5%;
  cursor: pointer;
}
.container img {
  display: block;
  width: 100%;
  height: 100%;
}
.container .person {
  font-weight: 700;
}
.container .info {
  border: 1px solid rgb(179, 170, 170);
  padding-left: 3%;
  padding-bottom: 1%;
}
